.fade {
    transition: visibility 0.5s, opacity 0.5s;
}

.fade.out {
    visibility: hidden;
    opacity: 0;
}

.fade.in {
    visibility: visible;
    opacity: 1;
}

.level.breakdown-item {
    margin-bottom: 1em;
}

.breakdown-name {
    margin-right: 1em;
}
